
body, h2, p, label, input, select, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.payment-section {
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.payment-section h2 {
    margin-bottom: 20px;
    font-size: 22px;
    color: #4CAF50;
}

.payment-section p {
    margin-bottom: 20px;
    font-size: 18px;
}

label {
    font-weight: bold;
}

input[type="text"],
select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #4CAF50;
}


